# Dependencies
**/node_modules
**/.pnp
**.pnp.*
**/.yarn/*

# Testing and coverage
**/coverage

# Next.js and build outputs
**/.next/
**/out/
**/build
**/.tsbuildinfo

# Debug logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnpm-debug.log*

# Docker & local configs
**/.git
**/.gitignore
**/.dockerignore
**/README.md
**/LICENSE

# Environment secrets and credentials (CRITICAL for security)
**/.env*
**/*.pem

# OS junk
**/.DS_Store
**/Thumbs.db

# Vercel
**/.vercel
**/__init__.py
**/faiss_papers_index
**/resources/
