# Database Connection
#DATABASE_URL="postgresql://............"

# Auth Configurations
AUTH_SECRET=YOUR AUTH SECRET
NEXTAUTH_URL="http://localhost:8000"

# Email Configuration
EMAIL_SERVER=smtp://XYZ@sandbox.smtp.mailtrap.io:587
EMAIL_FROM="UniSync *********"
AI_SERVICE_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000




# Hina
DATABASE_URL="postgresql://neondb_owner:**************""




