--extra-index-url https://download.pytorch.org/whl/cpu
torch
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-google-genai

fastapi
uvicorn
python-dotenv
numpy

fiass-cpu
onnxruntime
pypdf